.navbar {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
  padding-left: 20px;
}
.navbar-logo img {
  height: 30px;
}
.navbar-links ul {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  list-style: none;
  width: 650px;
}
.navbar-links ul li{
  font-size: 13px;
  cursor: pointer;
}
.navbar-links ul li:hover{
  color:hsl(0, 0%, 50%);
}
.navbar-search input {
  border: 1px solid lavender;
  border-color: rgba(143, 84, 240);
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 2px 2px 0 0 rgba(132, 18, 245, 0.4);
  outline: none;
}
.navbar-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar-btns img{
  height: 25px;
}
